#dream_feed
  - @dreams.each do |dream|
    .dream
      .text
        = dream.body
      -if current_user
        .dream_admin
          = link_to 'Edit', edit_dream_path(dream)
          \|
          = link_to 'Destroy', dream, :confirm => 'Are you sure?', :method => :delete
          \|
          = link_to 'Create Dream', new_dream_path
