body{
  background-color: #1b1b24;
  background-image: url(/images/background-seigaiha.png);
  background-position: left top, left top;
  background-repeat: repeat-x;
  height: 488px;
  color: #9391ac;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   14px;
  line-height: 18px;
  font-family: Museo-300;
}

a{
  color: #9587EB;
  text-decoration: none;
}

select,
input,
textarea{
  -webkit-border-radius: 3px;
  background-color: #C9C3E6;
}

textarea{
  width: 500px;
}

table{
  margin: 0 auto;
  text-align: center;
}

#content{
  width: 50%;
  margin: auto;
  text-align: center;
}

@-webkit-keyframes fade {
 0% {
   opacity: 0;
 }
 100% {
   opacity: 1;
 }
}

body #dream_feed{
  padding: 10px;
  -moz-border-radius: 5px;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.7s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
}

.dream{
  margin: 5px;
}

.dream p:first-letter 
{
  color: #8A2BE2;
  font-size:40px;
  padding: 5px;
  font-family: Georgia;
}
